In [1]:
import pandas as pd
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
from ast import literal_eval
from sklearn.svm import SVC
from gtda.plotting  import plot_point_cloud, plot_diagram
from gtda.diagrams import NumberOfPoints
from gtda.pipeline import Pipeline

In [2]:
df = pd.read_csv('dataset_final.csv', converters={'vertices_coordinates': eval})

In [6]:
df['label'] = np.where(df['age']>45, 1, 0)

In [5]:
df

,subject,vertices_coordinates,age,gender,hand,total_artery_length,age_label
0,1,"[[112.939272498, 92.443597152, 15.1567389459],...",54,1,1,6925.358945,1
1,2,"[[124.923405297, 94.952548743, 13.2145295543],...",25,2,1,6286.157836,0
2,3,"[[109.48619117999999, 87.998127165, 14.4936], ...",20,1,1,7100.591603,0
3,4,"[[109.64688318900001, 90.610784142, 11.9744000...",27,1,1,6424.308916,0
4,5,"[[121.803516036, 98.633576553, 8.96368], [121....",24,1,1,8710.597656,0
...,...,...,...,...,...,...,...
93,105,"[[86.127836466, 88.388819238, 40.5228586925999...",79,2,1,5171.655045,1
94,106,"[[88.492524624, 87.036028683, 43.3108775836], ...",63,2,2,4787.769584,1
95,107,"[[94.81341924, 80.216629464, 27.08806771999999...",68,2,1,4452.018480,1
96,108,"[[87.19980104999999, 91.96614166199998, 47.061...",58,2,1,6241.203997,1
97,109,"[[90.921386907, 65.334906573, 33.4112452917], ...",52,2,1,6296.001910,1

In [15]:
# select a young and old brain
df_small = df[(df['age'].isin([20,79]))]

In [16]:
df_small

,subject,vertices_coordinates,age,gender,hand,total_artery_length,age_label,label,subsampled_point_cloud,subsampled_point_cloud_500
2,3,"[[109.48619117999999, 87.998127165, 14.4936], ...",20,1,1,7100.591603,0,0,"[[84.44288064, 76.104351534, 79.71928000000001...","[[84.44288064, 76.104351534, 79.71928000000001..."
93,105,"[[86.127836466, 88.388819238, 40.5228586925999...",79,2,1,5171.655045,1,1,"[[90.662123442, 123.682534416, 101.73174567000...","[[90.662123442, 123.682534416, 101.73174567000..."

In [17]:
df_small.to_csv("visualisation_data.csv", index=False)

In [10]:
# subsample 1000 and create a new column
# create a separate column with the subsamples points
num_samples = 1000
subsampled_point_cloud = []
for i in range(0,98):
    myarray = np.asarray(df['vertices_coordinates'].iloc[i])
    np.random.seed(42)
    idx = np.random.choice(np.arange(len(myarray)), num_samples)
    subsampled_array = myarray[idx,:]
    subsampled_point_cloud.append(subsampled_array)

In [11]:
df['subsampled_point_cloud'] = subsampled_point_cloud

In [12]:
df_subsampled = df[['subject', 'subsampled_point_cloud', 'total_artery_length', 'age','gender','hand','label']].copy()

In [13]:
df_subsampled.to_csv("subsampled_data.csv", index=False)

In [19]:
# subsample 2000 points and create a new column
# create a separate column with the subsamples points
num_samples = 2000
subsampled_point_cloud_2000 = []
for i in range(0,98):
    myarray = np.asarray(df['vertices_coordinates'].iloc[i])
    np.random.seed(42)
    idx = np.random.choice(np.arange(len(myarray)), num_samples)
    subsampled_array = myarray[idx,:]
    subsampled_point_cloud_2000.append(subsampled_array)
subsampled_point_cloud_2000 = [l.tolist() for l in subsampled_point_cloud_2000]  
df['subsampled_point_cloud_2000'] = subsampled_point_cloud_2000 
df_subsampled_500 = df[['subject', 'subsampled_point_cloud_2000', 'total_artery_length', 'age','gender','hand','label']].copy()
df_subsampled_500.to_csv("subsampled_data_2000_final.csv", index=False)

In [ ]:
# subsample 3000 points and create a new column
# create a separate column with the subsamples points
num_samples = 3000
subsampled_point_cloud = []
for i in range(0,98):
    myarray = np.asarray(df['vertices_coordinates'].iloc[i])
    np.random.seed(42)
    idx = np.random.choice(np.arange(len(myarray)), num_samples)
    subsampled_array = myarray[idx,:]
    subsampled_point_cloud.append(subsampled_array)
df['subsampled_point_cloud_3000'] = subsampled_point_cloud 
df_subsampled_3000 = df[['subject', 'subsampled_point_cloud_3000', 'total_artery_length', 'age','gender','hand','label']].copy()
df_subsampled_3000.to_csv("subsampled_data_3000.csv", index=False)

In [14]:
# subsample 500 points and create a new column
# create a separate column with the subsamples points
num_samples = 500
subsampled_point_cloud_500 = []
for i in range(0,98):
    myarray = np.asarray(df['vertices_coordinates'].iloc[i])
    np.random.seed(42)
    idx = np.random.choice(np.arange(len(myarray)), num_samples)
    subsampled_array = myarray[idx,:]
    subsampled_point_cloud_500.append(subsampled_array)
subsampled_point_cloud_500 = [l.tolist() for l in subsampled_point_cloud_500]  
df['subsampled_point_cloud_500'] = subsampled_point_cloud_500 
df_subsampled_500 = df[['subject', 'subsampled_point_cloud_500', 'total_artery_length', 'age','gender','hand','label']].copy()
df_subsampled_500.to_csv("subsampled_data_500_final.csv", index=False)